<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943013057965-5bdau7dhr09s5albe5b6hvol0s7jflt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943013057965-5bdau7dhr09s5albe5b6hvol0s7jflt2</string>
	<key>API_KEY</key>
	<string>AIzaSyCUPhNA8EN36EITsdgjxx87Vzx5Gcr3BFs</string>
	<key>GCM_SENDER_ID</key>
	<string>943013057965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>nichibi-7308c</string>
	<key>STORAGE_BUCKET</key>
	<string>nichibi-7308c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943013057965:ios:10cb3604f1929012133d24</string>
</dict>
</plist>