/* CSS */

html, body{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
	background-color: floralwhite;
}
body{
	text-align: center;
	height: 400px;
	background-color: orangered;
}
#btn_calc{
	background-color: white;
}
