/* CSS */

/* 共通スタイル */
html, body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.navbar-dark .nav-link {
    color: black !important;
}

.navbar-dark .navbar-brand {
    color: black !important;
}

.navbar-brand img {
    width: 28px;
    height: auto;
    margin: 0px 5px;
    padding: 0px;
    border-radius: 14px;
}

/* カードスタイル */
.card-body1, .card-body2, .card-body3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; /* マージンをなくす */
    padding: 0; /* パディングをなくす */
}

/* テキスト部分 */
.flex-item__txt1, .flex-item__txt2, .flex-item__txt3 {
    width: 50%;
    margin: 0;
    padding: 0;
}

/* 画像部分 */
.relative1, .relative2, .relative3 {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* 画像の配置 */
.relative1 {
    justify-content: flex-end; /* 1枚目: 右側配置 */
}

.relative2 {
    justify-content: flex-start; /* 2枚目: 左側配置 */
}

/* 3rd Card */
.card-body3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-item__txt3 {
    order: 1; /* テキストを左側に配置 */
}

.relative3 {
    order: 2; /* 画像を右側に配置 */
    background-size: 50% 65%; /* 画像のサイズ調整 */
}


/* 画像のスタイル */
.relative1 img, .relative2 img, .relative3 img {
    width: 100%;
    height: auto;
    object-fit: cover; /* 画像を親要素内に収める */
}

/* その他のスタイル */
.container {
    max-width: 1200px;
    margin: auto;
}

.icon {
    font-size: 4rem;
    color: #297fc5;
    margin-bottom: 10px;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

#my_key{
	width: 100%; height: auto;
	padding: 12rem 0px;
	background-color: lightsteelblue;
	background-image: url("../images/img_key.png");
	background-position: center;
	color: white;
}

#my_key h1{
	margin: 1rem 0px;
	font-size: 3rem;
}

#my_key p{
	margin: 1rem 0px;
	font-size: 1rem;
}

#my_key2{
	width: 100%; height: auto;
	padding: 1.5rem 0px;
	background-color: lightsteelblue;
	background-image: url("../images/img_key.png");
	background-position: center;
	color: white;
}

#my_key h1{
	margin: 1rem 0px;
	font-size: 3rem;
}

#my_key p{
	margin: 1rem 0px;
	font-size: 1rem;
}
